.section {
  composes: enter-right from "../../styles/animations.module.css";
  background-color: #f4f4f4;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.container {
  composes: container from "../../styles/container.module.css";
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.heading {
  font-weight: 300;
  color: #65500a;
  margin-bottom: 1.5rem;
  letter-spacing: 0.15em;
}

.group {
  margin-bottom: 3rem;
}

.group p {
  max-width: 60em;
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
}
