@value normal from "../../styles/animations.css";
@value dev-md from "../../styles/breakpoints.css";
@value sm, md, lg from "../../styles/scale.css";
@value text-link, text-theme-light, text-theme from "../../styles/colors.css";

@keyframes nav-top {
  from {
    transform: translateY(-100%);
    position: absolute;
  }
  to {
    transform: translateY(0);
  }
}

.nav {
  composes: container-fluid from "../../styles/container.css";
  padding: 0;
  position: absolute;
  transform-origin: top;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  animation: nav-top;
  animation-duration: normal;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.navFixed {
  position: fixed;
}

.link {
  display: block;
  letter-spacing: 0.15rem;
  color: text-link;
  padding: sm;
}

.link:hover,
.link:active {
  color: text-theme-light;
  text-decoration: none;
}

.link:last-child {
  padding-right: 0;
  margin-right: 0;
}

.link:first-child {
  padding-left: 0;
}

.container {
  composes: container from "../../styles/container.css";
  display: flex;
}

.placeholder {
  height: calc(2 * sm + md);
}

.logo {
  composes: link;
  margin-right: auto;
  color: text-theme;
}

@media (dev-md) {
  .link {
    letter-spacing: 0.3rem;
    padding: md;
  }

  .nav .link:not(:first-child):not(:last-child) {
    margin-right: lg;
  }

  .placeholder {
    height: calc(3 * md);
  }
}
