@keyframes nav-top {
  from {
    position: absolute;
    transform: translateY(-3.5rem);
  }
  to {
    transform-origin: top;
    transform: translateY(0);
    position: fixed;
  }
}

:local(.nav) {
  composes: container-fluid from "../../styles/container.css";
  padding: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  animation: nav-top;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-timing-function: ease-out;
}

:local(.link) {
  display: block;
  letter-spacing: 0.15rem;
  color: var(--text-link);
  padding: 1rem 1rem 1rem 1rem;
}

:local(.link:hover),
:local(.link:active) {
  color: #d0b45c;
  text-decoration: none;
}

:local(.container) {
  composes: container from "../../styles/container.css";
  display: flex;
}

:local(.placeholder) {
  height: 3.5rem;
}

@media (min-width: 768px) {
  :local(.link) {
    letter-spacing: 0.33rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-right: 2rem;
  }

  :local(.placeholder) {
    height: 4.5rem;
  }
}

:local(.link:last-child) {
  padding-right: 0;
  margin-right: 0;
}

:local(.link:first-child) {
  padding-left: 0;
}

:local(.logo) {
  margin-right: auto;
  color: #76736b;
}
