@keyframes nav-top {
  from {
    transform: translateY(-100%);
    position: absolute;
  }
  to {
    transform: translateY(0);
    position: fixed;
  }
}

.nav {
  composes: container-fluid from "../../styles/container.module.css";
  padding: 0;
  transform-origin: top;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  animation: nav-top;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.link {
  display: block;
  letter-spacing: 0.15rem;
  color: var(--text-link);
  padding: var(--sm);
}

.link:hover,
.link:active {
  color: var(--text-theme-light);
  text-decoration: none;
}

.link:last-child {
  padding-right: 0;
  margin-right: 0;
}

.link:first-child {
  padding-left: 0;
}

.container {
  composes: container from "../../styles/container.module.css";
  display: flex;
}

.placeholder {
  height: calc(2 * var(--sm) + var(--md));
}

.logo {
  composes: link;
  margin-right: auto;
  color: var(--text-theme);
}

@media (min-width: 768px) {
  .link {
    letter-spacing: 0.3rem;
    padding: var(--md);
  }

  .nav .link:not(:first-child):not(:last-child) {
    margin-right: var(--lg);
  }

  .placeholder {
    height: calc(3 * var(--md));
  }
}
