:root {
  --primary-dark: #501050dd;
}

body {
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 30px;
  color: var(--primary-dark);
}

.title {
  font-size: 2rem;
}

.invalid {
  border-color: red;
}

.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
}

.bg-nav {
  background-color: green;
  text-align: center;
}

.rnd {
  border-radius: 50%;
}

.large {
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
