@value sm, md, lg from "../../../styles/scale.module.css";
@value text-link from "../../../styles/colors.module.css";

.subHeading {
  width: 100%;
  padding: md;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #57430120;
}

.small {
  display: block;
  margin-top: 0.5rem !important;
}

.list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
}

.link {
  display: block;
  color: inherit;
  font-weight: 500;
  width: 100%;
  padding: md;
  letter-spacing: 0.1rem;
}

.link:hover {
  text-decoration: none;
}

.link:focus {
  color: text-link;
  outline: none;
}
