@value md, lg, xl, xxl,xxxl from "../../../styles/scale.module.css";
@value dev-md, dev-lg from "../../../styles/breakpoints.module.css";
@value text-theme, text-link, bg-light-secondary, bg-light from "../../../styles/colors.module.css";

.section {
  composes: enter-right from "../../../styles/animations.module.css";
  background-color: bg-light-secondary;
  animation-delay: 0.5s;
}

.sectionSecondary {
  composes: enter-left from "../../../styles/animations.module.css";
  background-color: bg-light;
  animation-delay: 0.5s;
}

.container {
  padding-top: xl;
  padding-bottom: xl;
  text-align: center;
}

.heading {
  font-weight: 300;
  color: text-theme;
  margin-bottom: md;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.group {
  margin: 0;
}

.group + .group {
  margin-top: xl;
}

.paragraph {
  max-width: 60em;
  letter-spacing: 0.1em;
  margin-bottom: md;
}

@media (dev-lg) {
  .container {
    padding-top: xxxl;
    padding-bottom: xxxl;
    text-align: left;
  }

  .group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .group > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .group > * + * {
    margin-left: lg;
  }
}
