:local(.outerContainer) {
  composes: container-fluid from "../../../styles/container.css";
}

:local(.innerContainer) {
  composes: dark-text from "../../../styles/colors.css";
  composes: large from "../../../styles/typo.css";
  composes: container from "../../../styles/container.css";
}
