@value md, lg from "../../styles/scale.module.css";

.main {
  text-align: left;
  padding: lg;
}

.heading {
  font-weight: 300;
  margin-bottom: lg;
  letter-spacing: 0.15em;
  font-size: 1.25rem;
  border-bottom: 1px solid #57430120;
}
