@value md, lg from "../../styles/scale.module.css";
@value bg-light from "../../styles/colors.module.css";
@value dev-lg from "../../styles/breakpoints.module.css";

.main {
  text-align: left;
  padding: md;
}

.container {
  composes: enter-left from "../../styles/animations.module.css";
  composes: decent-shadow from "../../styles/effects.module.css";
  padding-top: lg;
  padding-bottom: lg;
  background-color: bg-light;
}

.heading {
  font-weight: 300;
  margin-bottom: lg;
  letter-spacing: 0.15em;
  font-size: 1.25rem;
  border-bottom: 1px solid #57430120;
}

.label {
  padding: 0;
  letter-spacing: 0.2em;
}

.data {
  padding: 0 0 md 0;
  letter-spacing: 0.15em;
  font-weight: 800;
  font-size: 1rem;
  margin: 0;
}

.controls {
  display: none;
}

@media (dev-lg) {
  .container {
    max-width: 30rem;
  }

  .controls {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
  }

  .controls > * + * {
    margin-left: lg;
  }
}
