@value bg-dark, text-light from "../../styles/colors.module.css";
@value xs, sm, md, lg, xl from "../../styles/scale.module.css";

.footer {
  font-size: sm;
  color: text-light;
  background-color: bg-dark;
}

.container {
  padding: xl md;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.link {
  font-size: sm;
  color: text-light;
  padding: xs 0.5em;
  white-space: nowrap;
}

.link::before {
  content: "\25A0 ";
}

.copy {
  white-space: nowrap;
  padding: xs 0.5em;
}
