$primary-dark: #501050dd;

body {
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
  color: $primary-dark;
}

.title {
  font-size: 2rem;
}

.invalid {
  border-color: red;
}
