@value slow: 5s;
@custom-media --breakpoint-sm (min-width: 60em);

.common {
  --ultra-slow: 3s;
  --slow: 1s;
  --normal: 0.5s;
  --fast: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  composes: common;
  animation: fade-in;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  composes: common;
  animation: fade-out;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}

@keyframes enter-top {
  from {
    transform: translateX(-100vh);
  }
  to {
    transform: translateX(0);
  }
}

.enter-top {
  composes: common;
  animation: enter-top;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}

@keyframes enter-bottom {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0);
  }
}

.enter-bottom {
  composes: common;
  animation: enter-bottom;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}

@keyframes enter-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.enter-left {
  composes: common;
  animation: enter-left;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}

@keyframes enter-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.enter-right {
  composes: common;
  animation: enter-right;
  animation-duration: var(--normal);
  animation-fill-mode: both;
}
