@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out;
}

@keyframes enter-top {
  from {
    transform: translateX(-100vh);
  }
  to {
    transform: translateX(0);
  }
}

.enter-top {
  animation: enter-top;
}

@keyframes enter-bottom {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0);
  }
}

.enter-bottom {
  animation: enter-bottom;
}

@keyframes enter-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.enter-left {
  animation: enter-left;
}

@keyframes enter-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.enter-right {
  animation: enter-right;
}

.duration-fast {
  animation-duration: 0.2s;
}
