@import "bootstrap-reboot.css";
@import url("https://fonts.googleapis.com/css?family=Exo:300,500,800");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC:300,500");

@value dev-md, dev-xxl from "./breakpoints.css";
@value bg-light, text-dark  from "./colors.css";

@value unit: 1.5;
@value urem: 1.5rem;

:root {
  --padding-container: 3rem 1.5rem 4.5rem 1.5rem;
  --shadow-container: 0 0.25rem 1.5rem 0 #00000015;
  --bg-button-hover: #dad6c550;
}

html,
body {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: text-dark;
  font-size: 14px;
  line-height: unit;
  letter-spacing: 0.1rem;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: bg-light;
}

@media (dev-md) {
  html,
  body {
    font-size: 16px;
  }
}

@media (dev-xl) {
  html,
  body {
    font-size: 18px;
  }
}
