@import "bootstrap-reboot.css";
@import url("https://fonts.googleapis.com/css?family=Exo:300,500,800");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC:300,500");

@value dev-sm, dev-md, dev-lg, dev-xxl from "./breakpoints.module.css";
@value bg-light-secondary, text-dark  from "./colors.module.css";

@value unit: 1.5;
@value urem: 1.5rem;

html,
body {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: text-dark;
  font-size: 14px;
  line-height: unit;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin: 0;
  height: 100%;
  overflow-y: auto; /*essential for scrolling*/
  background-color: bg-light-secondary;
  transition: all 0.3s ease-out;
}

:global(#root) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (dev-sm) {
  html,
  body {
    font-size: 16px;
  }
}

@media (dev-xl) {
  html,
  body {
    font-size: 18px;
  }
}
