@value size: 15rem;

.scale-rem {
  --xs: calc(var(--line-height, 1.5) * 0.25rem);
  --sm: calc(var(--line-height, 1.5) * 0.5rem);
  --md: calc(var(--line-height, 1.5) * 1rem);
  --lg: calc(var(--line-height, 1.5) * 2rem);
  --xl: calc(var(--line-height, 1.5) * 3rem);
  --xxl: calc(var(--line-height, 1.5) * 4rem);
  --xxxl: calc(var(--line-height, 1.5) * 6rem);
}

.p-xs {
  composes: scale-rem;
  padding: var(--xs);
}

.p-sm {
  composes: scale-rem;
  padding: var(--sm);
}

.p-md {
  composes: scale-rem;
  padding: var(--md);
}

.p-lg {
  composes: scale-rem;
  padding: var(--lg);
}

.p-xl {
  composes: scale-rem;
  padding: var(--xl);
}

.p-xxl {
  composes: scale-rem;
  padding: var(--xxl);
}

.p-xxxl {
  composes: scale-rem;
  padding: var(--xxxl);
}

.p-prog {
  composes: scale-rem;
  padding: var(--sm);
}

@media (min-width: 768px) {
  .p-prog {
    composes: scale-rem;
    padding: var(--md);
  }
}

@media (min-width: 1350px) {
  .p-prog {
    composes: scale-rem;
    padding: var(--lg);
  }
}
