.section {
  composes: enter-right from "../../../styles/animations.module.css";
  background-color: #f4f4f4;
  animation-delay: 0.5s;
}

.container {
  composes: container from "../../../styles/container.module.css";
  text-align: center;
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}

.heading {
  font-weight: 300;
  color: var(--text-theme);
  margin-bottom: var(--md);
  letter-spacing: 0.15em;
}

.group {
  margin-bottom: var(--md);
}

.group p {
  max-width: 60em;
  letter-spacing: 0.1em;
  margin-bottom: var(--md);
}
